<div
  class="row"
  *ngIf="
    questionService.qns &&
    questionService.qns[questionService.qnProgress] != undefined
  "
>
  <div>
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ questionService.qnProgress + 1 }}</span>
        <p>
          {{ questionService.qns[questionService.qnProgress].questionText }}
        </p>
      </div>
      <div class="card-action">
        <ul class="collection answer">
          <ng-container
            *ngFor="
              let option of questionService.qns[questionService.qnProgress]
                .options;
              let i = index
            "
          >
            <li
              *ngIf="option != null"
              class="collection-item"
              (click)="
                Answer(
                  questionService.qns[questionService.qnProgress].questionId,
                  i
                )
              "
            >
              {{ option }}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
