<div
  class="row"
  *ngIf="
    questionByCategoryService.subQuestions &&
    questionByCategoryService.subQuestions[
      questionByCategoryService.qnProgress
    ] != undefined
  "
>
  <div>
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{
          questionByCategoryService.qnProgress + 1
        }}</span>
        <p>
          {{
            questionByCategoryService.subQuestions[
              questionByCategoryService.qnProgress
            ].questionByCategoryText
          }}
        </p>
      </div>
      <div class="card-action">
        <ul class="collection answer">
          <ng-container
            *ngFor="
              let option of questionByCategoryService.subQuestions[
                questionByCategoryService.qnProgress
              ].options;
              let i = index
            "
          >
            <li
              *ngIf="option != null"
              class="collection-item"
              (click)="Answer(option.optionId)"
            >
              {{ option.optionName }}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
